[submodule "bundle/php.vim--Garvin"]
	path = bundle/php.vim--Garvin
	url = https://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
